
.friend{
    width: 30%;
    font-size: 11px;
    margin-bottom: 10px;
}

.friends_link{
    color: #1b2438;
    text-decoration: none;
}

.friends_link:hover{
    background-color: #6f7a91;
}


.friend img{
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;

}

.friend img span{
    font-size: 10px;
    font-weight: normal;
    margin-top: 5px;
}

