.header{
    grid-area: h;
    background-color: #424856;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 150px;
}

.loginBlock{
    margin-right: 10px;
}

.loginBlock a{
    color:white;
    text-align: center;
}